/* Resetting some default browser styles */
    {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Times New Roman, sans-serif;
    background-color: #9768fc;
    color: #333;
    line-height: 1.6;
}

.whole-page {
    background-color: #9768fc;
    display: block;
    margin: 0 auto;
}

@media (min-width: 1025px) {
    .whole-page {
        width: 600px;
        padding: 25px;
    }

    .profile-picture {
        border-radius: 5%;
    }

    .profile-picture-box {
        width: 500px;
        margin: auto;
        padding-top: 75px;
    }

    body {
        background-color: #000000;
    }
}

.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    top: -150px;
}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.name-container h1 {
    margin-bottom: -5px;
}

.name-container h2 {
    margin-top: -5px;
}

.logo {
    width: 100px;
}

h1 {
    font-size: 2rem;
}

.bio-section {
    text-align: center;
}

.profile-picture {
    width: 100%;
}

.profile-picture-box {
    position: relative;
    display: inline-block;
    margin: -2.5%;
}

.profile-picture-box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75%;
    /* Cover the bottom 25% */
    background: linear-gradient(to bottom, rgba(151, 104, 252, 0) 0%, rgba(151, 104, 252, 1) 100%);
}

.links-section {
    text-align: center;
    margin: 20px;
}

.links-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link-button {
    display: flex;
    align-items: center;
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 8px;
    text-decoration: none;
    width: 80%;
    max-width: 500px;
    justify-content: space-between;
    transition: background-color 0.3s ease;
}

.link-button:hover {
    background-color: #52327a;
}

.link-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.link-title {
    flex: 1;
    text-align: center;
    font-size: 1.2rem;
}

.link-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.socials-section {
    text-align: center;
    margin: 20px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

social-icons img {
    width: 40px;
    height: 40px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
}